<div class="container-fluid holder">
    <div class="col-lg-12 col-xl-12 col-xs-12 col-md-12 col-sm-12">
        <img style="margin: 10px;" class="img-fluid" src="../../../assets/img/header-logo.png" alt="App lab text">
        <div style="float: right">
            <span class="col seperator"> <a href="#"> Home </a></span>
            <span class="col seperator"> <a href="#"> Key Features </a></span>
            <span class="col seperator"> <a href="#"> Pricing </a></span>
            <span class="col seperator"> <a href="#"> Terminal </a></span>
            <span class="col seperator"> <a href="#"> FAQ </a></span>
            <span class="col seperator">
                <button type="button" class="btn color-custom"><strong>Try for Free</strong></button>
            </span>
        </div>
    </div>

</div>