<div class="container">
    <div class="row" style="margin-top: 114px;">
        <div class="col-lg-12">
            <p class="text-center">Trusted by companies like</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-1 col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <img class="img-fluid" src="../../../assets/img/logo-1.png" alt="southwest">
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <img class="img-fluid" src="../../../assets/img/logo-2.png" alt="anubis">
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <img class="img-fluid" src="../../../assets/img/logo-3.png" alt="alonzo">
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <img class="img-fluid" src="../../../assets/img/logo-4.png" alt="express">
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-xs-2">
            <img class="img-fluid" src="../../../assets/img/logo-5.png" alt="maniac">
        </div>
        <div class="col-xl-1 col-lg-1 col-sm-1 col-md-1 col-xs-1"></div>
    </div>
</div>

    <div class="col-lg-12" style="margin-top: 231px;">
      
        <div class="col-lg-6" style="position: relative; left: 0; top: 0;">
            <img src="../../../assets/img/Ellipse-1.png" class="ellipse"/>
            <img src="../../../assets/img/img-2.png" style="z-index: 999" class="img-2 negative_top"/>
          </div>
        <div class="col-lg-6" style="padding-left: 8%">
            <p class="detail_heading">Awesome apps
                <br>features
            </p>
            <p class="dummy_text">Increase productivity with a simple to-do app. app for <br>
                managing your personal budgets.
            </p>
            <div class="fast_perf">
                <div class="col-lg-2" style="padding-left: 0px;">
                    <div class="photo_back--1">
                        <img class="img-center img-fluid" src="../../../assets/img/speed.png" alt="speed">
                    </div>
                </div>
                <div class="col-lg-10" style="padding-left:32px">
                    <h3 class="fast_heading">Fast Performance</h3>
                    <p class="detail-text">Get your blood tests delivered at <br>
                        home collect a sample from the <br>
                        news your blood tests.</p>
                </div>

            </div>
            <div class="prototyping">
                <div class="col-lg-2" style="padding-left: 0px;">
                    <div class="photo_back--2">
                        <img class="img-center img-fluid" src="../../../assets/img/prototyping.png" alt="prototyping">
                    </div>
                </div>
                <div class="col-lg-10" style="padding-left:32px">
                    <h3 class="proto_heading">Prototyping</h3>
                    <p class="detail-text">Get your blood tests delivered at <br>
                        home collect a sample from the <br>
                        news your blood tests.</p>
                </div>
            </div>
            <div class="vector">
                <div class="col-lg-2" style="padding-left: 0px;">
                    <div class="photo_back--3">
                        <img class="img-center img-fluid" src="../../../assets/img/vector.png" alt="vector">
                    </div>
                </div>
                <div class="col-lg-10" style="padding-left:32px">
                    <h3 class="vector_heading">Vector Editing</h3>
                    <p class="detail-text">Get your blood tests delivered at <br>
                        home collect a sample from the <br>
                        news your blood tests.</p>
                </div>
            </div>
        </div>
    </div>
