 .detail_heading{
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;
}

.detail-text{
    line-height: 26px;
    color: #616368;
    font-weight: 400;
}

.move_left{
    margin-left: 12rem;
    z-index: 999;
    background-image: url('../../../assets/img/Shape-1.png');
    background-repeat: no-repeat;
    background-position-y: 135%;
    background-position-x: 57%;
}

.fast_heading{
    font-size: 20px;
    line-height: 58px;
    color: #f55767;
    font-weight: 600;
}

.proto_heading{
    font-size: 20px;
    line-height: 58px;
    color: #2563ff;
    font-weight: 600;
}

.vector_heading{
    font-size: 20px;
    line-height: 58px;
    color: #40975f;
    font-weight: 600;
}

.photo_back--1{
    width: 88px;
    height: 88px;
    border-radius: 44px;
    background-color: #ffecef;
    text-align: center;margin-top: 6.5rem;
}

.photo_back--2{
    width: 88px;
    height: 89px;
    border-radius: 44px;
    text-align: center;
    background-color: #f4f4ff;margin-top: 6.5rem;
}

.photo_back--3{
    width: 88px;
    height: 88px;
    border-radius: 44px;
    text-align: center;margin-top: 6.5rem;
    background-color: #e4ffee;
}

.img-center{
    margin-top: 16%;
}


.adjuster{
    margin-top: 231px; margin-bottom: 200px;
}


.img-2{
    position: absolute;
    max-width: 100%;
    left: 30%; min-width: 15vw;
    min-height: 100vh; 
}
.ellipse{
    max-width: 100%;
    position: relative;
    min-width: 15vw;
    min-height: 80vh;
    left: 30%;
    background-position-y: 100%;
    background-image: url('../../../assets/img/Ellipseback-2.png');
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 1;
}

.negative_top{
    top: -12vh;
    background-image: url('../../../assets/img/Shape-1.png');
    background-repeat: no-repeat;
    background-position-y: 90%;
    background-size: contain;
} 
.imagebox {
    width: 50%;
    float: left;position: relative;
  }
  
.textbox {
    width: 50%;
    float: right;
    padding-left: 10%;
}

  
@media screen and  (min-width: 400px) and (max-width: 638px){
    .detail_heading{
        line-height: 4rem;
        font-size: 2.01rem;
    }
    .ellipse{
        left: 0;
        min-height: 76vh;
    }

    .img-2{
        left: 0;
        min-height: 95vh;
    }

    .textbox{
        padding: 0;
    }

    h3{
        margin-top: 0;
        margin-bottom: 0;

    }
    .dummy_text{
        font-size: 14px;
    line-height: 17px;  margin-top: 0;
    margin-bottom: 0px;
    }

    .detail-text{
        line-height: 20px;
        font-size: 13px;
    }

    .photo_back--1{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        margin-top: 4.5rem;
    }

    .photo_back--1>img{
        max-width: 55%;
    }

    .photo_back--2>img{
        max-width: 55%;
    }
    
    .photo_back--3>img{
        max-width: 55%;
    }

    .photo_back--2{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        margin-top: 4.5rem;
    }
    .photo_back--3{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        margin-top: 4.5rem;
    }
    .adjuster{
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .imagebox{
        width: 50%;
        margin: 0 auto;
        float: unset;
    }
    .textbox{
        width: 100%;
    }
 }
 


@media  screen and  (min-width: 639px) and (max-width:900px){
    
    .detail_heading{
        font-size: 23px;
        line-height: 40px;
    }

    .ellipse{
        left: 0;
        min-height: 56vh;
    }

    .img-2{
        left: 0;
        min-height: 75vh;
    }

    .dummy_text{
        font-size: 15px;
    line-height: 23px;
    margin-top: 0;
     margin-bottom: 0px;
    }

    .detail-text{
        line-height: 19px;
        font-size: 15px;
    }

    .textbox{
        margin-top: -40px;
    }


    h3{
        margin-top: 0;
        margin-bottom: 0;

    }

    .photo_back--1{
        width: 65px;
        height: 65px;
        border-radius: 50px;
        margin-top: 5.5rem;
    }

    .photo_back--1>img{
        max-width: 70%;
    }

    .photo_back--2>img{
        max-width: 70%;
    }
    
    .photo_back--3>img{
        max-width: 70%;
    }

    .photo_back--2{
        width: 65px;
        height: 65px;
        border-radius: 50px;
        margin-top: 5.5rem;
    }
    .photo_back--3{
        width: 65px;
        height: 65px;
        border-radius: 50px;
        margin-top: 5.5rem;
    }
    .adjuster{
        margin-top: 155px;
        margin-bottom: 115px;
    }
   
}

@media  screen and  (min-width: 901px) and (max-width:1200px){
    .detail_heading{
        line-height: 50px ;
        font-size: 32px ;
    }
    .ellipse{
        left: 12%;
        min-height: 56vh;
    }

    .img-2{
        left: 11%;
        min-height: 75vh;
    }

    .dummy_text{
        margin-top: 0px;
        margin-bottom: 0px;
    }

  

    .fast_heading{
        font-size: 19px;
    }

    .detail-text{
        line-height: 20px;
    }

    h3{
        margin-top: 16px;
    }

  
 }

 
@media  screen and  (min-width: 1601px) and (max-width:2940px){
    .detail_heading{
        line-height: 9rem ;
        font-size: 6rem ;
    }
 }
