.footer-detail{
    line-height: 26px;
    color: #616368;
    font-weight: 400;
    
}

.footer_heading{
    font-size: 38px;
    line-height: 48px;
    color: #242f51;
    font-weight: 600;
}
.footer_position{
    /* margin-left: 12rem; */
    margin-top: 9rem;
}

.links>*{
    padding: 25px;
    width: 50%;
}

.different_background{
    background-color: #09142e;
    margin-top: -45px;
    width: 100%;
}

.logo_spacing{
    margin-top: 116px;
}

.spacing{
    margin: 0 18px;
}
.spacing>*{
    color: #ffffff;
}

.vertical_spacing{
    margin-top:52px;
}

.vertical_spacing-large{
    margin-top:91px;
}

@media  screen and  (min-width: 400px) and (max-width:648px){
    .links>*{
        padding: 0;
    }

    .footer_position{
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}

@media  screen and  (min-width: 639px) and (max-width:900px){
    .links>*{
        padding: 0;
    }

    .footer_position{
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}


@media  screen and  (min-width: 901px) and (max-width:1600px){
    .links>*{
        padding: 10px 17px 17px 0;
    }

    .footer_position{
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}
