<div class="container-fluid">
    <div class="row bck_img img-fluid">
        <div class="col-lg-6 col-xl-6 col-sm-6 col-xs-6 ontop__text">
            <div class="gray_bck">
                <strong class="rating">
                    <img class="orange_background" src="../../../assets/img/tick.png" alt="tick">
                    <span class="text-color">
                            #1 Editiors Choice App of 2020
                    </span>
                </strong>
            </div>
            <p class="main_heading">Best app for your
                <br> modern lifestyle
            </p>
            <p class="dummy_text">Increase productivity with a simple to-do app. app for <br>
                managing your personal budgets.
            </p>
            <button type="button" class="btn color-custom"><strong>Try for Free</strong></button>
            <button type="button" class="btn color-custom-none"><strong>Watch demo video</strong></button>

        </div>
        <div class=" ontop__banner">
            <img class="img-fluid side_img" style="vertical-align: bottom;" src="../../../assets/img/Banner-ing.png"
                alt="banner ing">
        </div>
    </div>

</div>